{% extends 'base.html' %}

{% block content %}
<main>
    <div style="background-color: antiquewhite;">
        
        {% if error %}
            <h3 class="error">error</h3>
        {% endif %}
            
        <form action="{% url 'test' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">boop</button>
        </form>
        {% if result %}
            {{result.name}} <br>
            {{result.lastname}} <br>
            {{result.email}} <br><br>

            {{result.username}} <br>
            {{result.uemail}} <br>
        {% endif %}
    </div>
</main>
{% endblock content %}